<!DOCTYPE html>
<html lang="en">
<head>
    <title>Orden Inmortal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>
    <div>
        <main role="main">
            @RenderBody()
        </main>
    </div>
</body>
</html>
